.filterProducts__wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.filterItem__wrapper {
    margin-top: 50px;
}

.filterItem__wrapper-item {
    margin-bottom: 20px;
}

.filterItem__nameFilter {
    color: #000000;
    font-size: 14px;
    font-family: "Roboto";
}

.filterItem__filter__title {
    font-size: 18px;
    color: #B7B7B7;
    font-family: "Roboto";
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 300px;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.filterItem__filter-country {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 18px;
}

.filterItem__filter-category {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 18px;
}

.filterItem__nameFilter_categoryTitle {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-left: 18px;
}

.filterItem__nameFilter_brand {
    margin-left: 108px;
}

.filterItem__filter-typePack {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 18px;
}

/*Стилизация checkbox*/
.filterItem__inputCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filterItem__inputCheckbox + span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.filterItem__inputCheckbox + span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid black;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 25px;
}

.filterItem__inputCheckbox:checked+span::before {
    border: 1px solid white;
    background-color: #04f18c;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-size: 16px;
}

/*Динамика для скрытия фильтров*/
.filterItem__list-filter {
    display: none;
    padding: 20px 18px 34px 18px;
}
.filterItem__filter-allCategory {
    display: none;
}
.filterItem__wrapper-brand {
    display: none;
}
.visible {
    display: block;
}

/*Для бегунков*/
.input-range__slider {
    background: #eeeeee;
    border: 1px solid black;
}

.input-range__track--active {
    background: #eeeeee;
}

.filterItem__wrapper-range-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.filterItem__input-wrapper-range input {
    width: 98px;
    height: 28px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding-left: 40px;
}

.filterItem__input-wrapper-range label {
    position: absolute;
    color: #B7B7B7;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 3px;
}

.filter-range-wrapper {
    margin-top: 10px;
}